

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
<meta charset="UTF-8">
<title>210's blog</title>



</head>
<body>
	<div layout:fragment="content">
	
	<!-- boards table에 data가져와서 여기 뿌리기  -->
	<!-- 글 작성버튼 만들기 검색 창 만들기  -->
		<div>
			<table id="boardtable" class="table">
				<thead>
					<tr>
						<th>번호</th>
						<th>작성자</th>
						<th>제목</th>
						<th>날짜</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div>
			<button>글쓰기</button>
		</div>


		


	</div>

	

</body>
<th:block layout:fragment="script">
  	<script th:src="@{/js/board.js}" type="text/javascript"></script>
</th:block>
</html>


	