

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
<meta charset="UTF-8">
<title>210's blog</title>



</head>
<body>
	<div layout:fragment="content">	
		<div>
			<table id="boardtable" class="table">
				<thead>
					<tr>
						<th onclick="sortTable(0)" class="asc">번호</th>
						<th onclick="sortTable(1)" class="asc">작성자</th>
						<th onclick="sortTable(2)" class="asc">제목</th>
						<th onclick="sortTable(3)" class="asc">날짜</th>
						<th onclick="sortTable(4)" class="asc">조회수</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div>
			<a href="/board/write"><button class="btn btn-outline-primary mr-3">글쓰기</button></a>
		</div>
	</div>

	

</body>
<th:block layout:fragment="script">
  	<script th:src="@{/js/board.js}" type="text/javascript"></script>
</th:block>
</html>


	