

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
<meta charset="UTF-8">
<title>210's blog</title>


</head>
<body>
	<div layout:fragment="content">
	<div  th:object="${board}">
		<h1 class="mt-4" th:text="*{title}"></h1>
		<hr>	
		<p th:text="*{content}" />
		<hr />
		<div id="comment">
			<div><h3> 댓글 </h3></div>	
		</div>
		<hr />
		<!-- Comments Form -->
		<div class="card my-4">
			<h5 class="card-header">Leave a Comment:</h5>
			<div class="card-body">
				<form name="comment-form" action="/board/comment/write" method="post" autocomplete="off">
					<div class="form-group">
						<input type="hidden" name="idx" th:value="*{idx}" />
						<textarea name="content" class="form-control" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<a href="/board"><button class="btn btn-outline-primary mr-2">목록</button></a>
		<a th:href="@{'/board/delete?idx=' + *{idx}}"><button class="btn btn-outline-primary mr-2">삭제</button></a>
	</div>
	</div>
</body>
<th:block layout:fragment="script">
  	<script th:src="@{/js/boarddetail.js}" type="text/javascript"></script>
</th:block>
</html>