

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
<meta charset="UTF-8">
<title>210's blog</title>

</head>
<body>
	<div layout:fragment="content">


		<h1 class="mt-4">안녕하세요 </h1>
		<hr>
		
		<p>이곳은 210의 blog입니다.</p>
		<hr>
		
		상단에 보이는 메뉴바에 대해 각각 설명해드리겠습니다.!!
		<br />
		<br />
		<br />
		<strong>Home</strong> : 현재 이 페이지가 Home, 블로그에 대한 설명을 담고 있음
		<br />
		<br />
		<br />
		<strong>Board</strong> : 게시판, 방명록 같은 기능 아무나 글을 남길 수 있습니다잇
		<br />
		<br />
		<br />
		<strong>Portfolio</strong> : 포트폴리오, 내가 이때까지 한 프로젝트들을 설명해놓는 곳
		<br />
		<br />
		<br />
		<strong>Profile</strong> : 나에 대한 설명이 담겨있는 곳
		<br />
		<br />
		<br />
		<!-- Comments Form -->
		<div class="card my-4">
			<h5 class="card-header">Leave a Comment:</h5>
			<div class="card-body">
				<form>
					<div class="form-group">
						<textarea class="form-control" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		
		


	</div>
	
	
	

</body>
</html>