<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurityt5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- 이 영역에 공통으로 사용할 css, js library를 선언한다.-->
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	
  	<!-- tableExport -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
	
	<link th:href="@{/css/blog-post.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/default.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/main.js}"></script>
	
	
	<!-- Content Page의 CSS fragment 삽입 -->
	<th:block layout:fragment="css">
	
	</th:block>

	<!-- Content Page의 script fragment 삽입 -->
	<th:block layout:fragment="script">

	</th:block>

</th:block>


</html>